body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: rgb(170, 224, 226);
  }
  

  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    padding: 10px;
    border:2px solid black;
  }
  
  /*Modified the dayJs*/
  #currentDay{
    color: rgb(44, 160, 238);
    font-size: 40px;
    text-decoration: underline;
  }

  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    border-radius: 15px;
  }
  
  .row {
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #2a8a97;
    color: rgb(84, 209, 209);
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }

.hour {
  background-color: #2a8a97;
  color: rgb(198, 226, 226);
  border-radius: 8px 4px 4px 8px;
}

